:root {
  --primary-color: #F9F9F9;
  --secondary-color: #167300;
  --tertiary-color: #222222;
  --font: 'Onset', sans-serif;
  --blur-color: #ffffff80;
}

* {
  box-sizing: border-box;
  font-family: var(--font);
}

nav {
  width: 100%;
  padding: 24px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 60px;
}

.menu ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.menu ul li a {
  font-size: 18px;
  text-decoration: none;
  color: var(--tertiary-color);
  font-weight: 500;
  transition: color 0.3s ease;
}

.menu ul li a:hover {
  color: var(--secondary-color);
}

.menu ul li a.active {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  padding-bottom: 5px;
}

.hero {
  background-image:
    linear-gradient(to bottom,
      rgba(255, 255, 255, 0) 90%,
      rgba(255, 255, 255, 1) 100%),
    url('./assets/homeBanner.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.hero h1 {
  font-size: 50px;
}

.hero h2 {
  font-size: 38px;
  margin: 0;
}

.gap {
  height: 100vh;
  width: 100%;
}

.content-container {
  padding: 60px;
}

.destinations-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 80%;
  margin: 40px auto;
}

.destination-item {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  position: relative;
}

.destination-item:nth-child(1) {
  background-image: url('./assets/home/dest01.png');
  background-size: cover;
  background-position: center;
}

.destination-item:nth-child(2) {
  background-image: url('./assets/home/dest02.png');
  background-size: cover;
  background-position: center;
}

.destination-item:nth-child(3) {
  background-image: url('./assets/home/dest03.png');
  background-size: cover;
  background-position: center;
}

.destination-item-content{
  background-color: var(--blur-color);
  width: 90%;
  margin: auto;
  padding: 12px;
  border-radius: 0 0 18px 18px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(1px);
}

.destination-item-content h4 {
  margin: 0;
  line-height: normal;
}

.destination-item-content p {
  display: flex;
  align-items: center;
  gap: 12px;
}

.destination-item-description{
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background-color: #15730010;
  color: var(--tertiary-color);
  border: none;
  border-radius: 18px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  backdrop-filter: blur(1px);
  border: 1px solid var(--blur-color);
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #15730020;
  color: var(--tertiary-color);
  border: 1px solid var(--blur-color);
}

.right-side-button {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin: 0 auto;
}